<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Eroare 404</title>
        <meta name="description" content="Site destinat vanzarilor de Electronice">
        <meta name="keywords" content="telefoane, laptop, pc, desktop, gadget, vr, smartwatch">      
        <%- include("../fragmente/head.ejs") %> 
        <style>
          
        </style>
    </head>
    <body>
        
        <%- include("../fragmente/header.ejs") %> 
        <main>
            <H2>Eroare 403<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></H2>
        </main>
        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>