<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Oferte noi</title>
        <meta name="description" content="Site destinat vanzarilor de Electronice">
        <meta name="keywords" content="telefoane, laptop, pc, desktop, gadget, vr, smartwatch">      
        <%- include("../fragmente/head.ejs") %> 
        <style>
          
        </style>
    </head>
    <body>
        
        <%- include("../fragmente/header.ejs") %> 
        <main>
            <%- include("../fragmente/galerie_statica.ejs") %>
        </main>
        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>