<footer>
    <a href="#acasa" class="tip" id="homebtn"><div class="triangle"><span class="tiptext">Urca Sus</span></div></a>
    
    <address>
        <i class="fa fa-id-card"></i>  Date de contact:<br>
        Email: <a href="mailto:MagDan@electro.com">MagDan@electro.com</a><br>
        Tel: <a href="tel:+40733378901">0733 378 901</a><br>
        Adresa: Bd. Unirii, nr.58, Bucuresti
        </address>
        <small>&copy;MagDan</small>
        <p>Site creat in data de <time datetime="2020-10-11">11.10.2020</time></p>
</footer>