<div class="table-container">
    <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ziua</th>
            <th scope="col">Program</th>
            <th scope="col">Actualizale Stocuri</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Luni</td>
            <td>10:00 - 18:00</td>
            <td>NU</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Marti</td>
            <td>10:00 - 18:00</td>
            <td>NU</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Miercuri</td>
            <td>10:00 - 18:00</td>
            <td>NU</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Joi</td>
            <td>10:00 - 18:00</td>
            <td>NU</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Vineri</td>
            <td>10:00 - 18:00</td>
            <td>DA</td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row"></th>
                <td>Sambata/Duminica</td>
                <td>INCHIS</td>
                <td>NU</td>
            </tr>
          </tfoot>
      </table>
</div>
